<html>
  <head>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['NORMAL',     50],
         
          ['DOS',    20],
		  ['U2R',    15],
		  ['R2L',    10],
		  ['PROBE',    5]
        ]);

        var options = {
          title: '',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
	  
    </script>
  </head>
  <body>
  <center>  <h1>DDOS Detection System(pie chart analysis)</h1></center>
   
    <div id="piechart_3d" style="width: 900px; height: 500px; "></div>
	<!-- <center><a href="{{url_for('performance')}}"><button type="submit" style="background-color:green;color:white;width:150px;height:40px;">Performance Analysis</button></a></center> -->
  </body>
</html>